.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(10, 26, 36);
  height: 60px;
}

.logo {
  width: 160px;
  height: 50px;
  margin-left: 20px;
}

.links {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
  display: none;
}

@media only screen and (min-width: 1000px) {
  .navbar {
    height: 70px;
    width: 100%;
  }

  .logo {
    margin-left: 30px;
    width: 200px;
    height: 60px;
  }

  .links {
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    gap: 40px;
  }

  .link {
    font-size: larger;
    font-weight: 100;
    display: block;
  }

  .link:hover {
    color: rgb(40, 210, 148);
  }
}
