.td {
  padding: 10px;
  font-size: 13px;
}

.coinPhoto {
  height: 30px;
}

.topCard:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgb(20, 51, 70);
}

@media screen and (min-width: 700px) {
  .td {
    padding: 15px;
    font-size: 18px;
  }

  .coinPhoto {
    height: 40px;
  }
}
