.footer {
  background-color: #0d2235;
  padding: 80px 0;
  clip-path: polygon(0 0, 100% 10, 100% 100%, 0% 100%);
  margin-top: -10px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  padding: 15px;
}

.footer .col {
  display: flex;
  flex-direction: column;
}

.footer .bar {
  width: 30px;
  border-bottom: 4px solid rgb(40, 210, 148);
  margin: 15px 0;
}

.footer a {
  font-size: 20px;
}

.footer .icon {
  margin-right: 4px;
  font-size: 20px;
}

.footer h5 {
  margin-top: 32px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .col-1 {
    display: none;
  }
}
