:root {
  --color-primary: #fcd535;
  --color-background: rgb(6, 12, 19);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  font-family: "Oswald", sans-serif;
}
