:root {
  /* Colores */
  --color-primary: #fcd535;
  --color-background: rgb(6, 12, 19);

  /*Tamaño Fuentes */
  --h1-size: 35px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  font-family: "Oswald", sans-serif;
}
