:root {
    --color-primary: #FCD535;
    --color-background: rgb(27, 34, 34);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    width: 100%;
    font-family: "Oswald", sans-serif;
}
