body {
  color: whitesmoke;
}

.introsectioncontainer {
  background-image: url(./../../images/fondo-intro.png);
  background-size: cover;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.section1 h1 {
  font-size: var(--h1-size);
  text-align: center;
}

.section1 video {
}

.section2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 80px;
}

.section2 h2 {
  font-size: 25px;
  height: 20px;
}

.section2 p {
  font-size: 18px;
  text-align: center;
}

.title {
  width: 230px;
  text-align: center;
  /* background-color: rgba(240, 255, 255, 0.281); */
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px 2px black; */
}

.video {
  width: 350px;
  height: 350px;
  display: none;
}

@media only screen and (min-width: 1000px) {
  .section1 {
    gap: 100px;
  }

  .video {
    width: 480px;
    /* height: 500px; */
    display: block;
    border-radius: 5px;
  }

  .section1 h1 {
    text-align: left;
  }
}
